
.navbar {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    font-family: poppins;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-item {
    margin-right: auto;
  }
  
  .navbar-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    text-decoration: none;
    color: #8d2323;
  }
  